{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
        <title>QUIPRONAB</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css\aboutstyle.css' %}" />
</head>

<body>
        <div class="container">
                <a href="/">Back</a>
                <h2>About</h2>
        </div>
</body>
<body>
        <!--Researcher 1-->
        <div class="container">
                <h3>Reserchers</h3>
        </div>
        <div class="card">
                <div class="container">
                    <p>
                            <pcard>Researcher 1</pcard>
                    </p>
                </div>
        </div>
        <!--Researcher 2-->
        <div class="card">
                <div class="container">
                    <p>
                            <pcard>Researcher 2</pcard>
                    </p>
                </div>
        </div>
        <!--Researcher 3-->
        <div class="card">
                <div class="container">
                    <p>
                            <pcard>Researcher 3</pcard>
                    </p>
                </div>
        </div>
        <!--Researcher 4-->
        <div class="card">
                <div class="container">
                    <p>
                            <pcard>Researcher 4</pcard>
                    </p>
                </div>
        </div>
</body>