{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>QUIPRONAB</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\homestyle.css' %}" />
</head>

<body>
    <h2 class="homeTittle">QUIPRONAB</h2>
    <button class="tablink">Download</button>
    <button class="tablink">Search</button>
    <button class="tablink">About</button>
    <button class="tablink">Contact</button>
    <!----->
</body>

<body>
    <!--General Information-->
    <div class="card">
        <div class="container">
            <p>
                <CardTop>General Information</CardTop>
            </p>
            <h2card>General Information</h2card>
            <p>
                <div class="buttonSearch">Search</div>
            </p>
        </div>
    </div>
    <!--Species-->
    <div class="card">
        <div class="container">
            <p>
                <CardTop>Species</CardTop>
            </p>
            <h2card>General Information</h2card>
            <p>
                <div class="buttonSearch">Search</div>
            </p>
        </div>
    </div>
    <!--Source-->
    <div class="card">
        <div class="container">
            <p>
                <CardTop>Sources</CardTop>
            </p>
            <h2card>General Information</h2card>
            <p>
                <div class="buttonSearch">Search</div>
            </p>
        </div>
    </div>
</body>